.header {
  height: 500px;
  /* background-size: cover; */
  background-position: center;
  position: relative;
}

.header::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.header * {
  position: relative;
  z-index: 2;
}

.header h1, .header h2 {
  color: white;
}

.header h1 {
  font-size: 60px;
  padding-top: 380px;
  margin-top: 0;
}
